<%# requires local 'paginator' with a Blacklight::FacetPaginator object %>

<%# parts of implementation copied form  render_facet_value and render_selected_facet_value, 
    we need to customize to do right with our browse normalized facet
    values. The original BL helper methods are convoluted, we just
    turn into a single partial %>

<ul class="facet_extended_list">
    <% paginator.items.each do |item| %>
      <li>
        <% if facet_in_params?( params[:id], item.value ) %>              
          <%# selected facet %>
          <%= content_tag(:span, :class => "selected label") do %>
              <%= BlacklightFacetBrowse::NormalForm.extract_original(item.value) %>
              <%= render_facet_count(item.hits) %>
          <% end %>
          <%= link_to(t('blacklight.search.facets.selected.remove'), remove_facet_params(params[:id], item.value, params), :class=>"remove") %>          
        <% else %>
          <%# not yet selected facet %>
          <%= link_to(BlacklightFacetBrowse::NormalForm.extract_original(item.value), add_facet_params_and_redirect(params[:id], BlacklightFacetBrowse::NormalForm.extract_original(item.value)), :class=>"facet_select label") %>
          <%= render_facet_count(item.hits) %>          
        <% end -%>
      </li>
    <% end %>
  </ul>