<%# overall structure of this template copied from BL 3.5 version of facet.html.erb:
https://raw.github.com/projectblacklight/blacklight/v3.5.0/app/views/catalog/facet.html.erb

For more recent Bootstraped blacklight, you'd want to create an alternate
version based on more recent version of facet.html.erb, wtih proper
structure for bootstrapped CSS. You can tell BlacklightFacetBrowse
the name of a view template to use for browsable facet display
in config variable 'browsable_facet_template' 
%>

<div class="facet_extended_list">

  <%= render "facet_browse_search_form", :browse_config => @browse_config %>      
  
  <% sidebar_items << capture do %>
  <p><%= link_back_to_catalog %></p>
  <% end %>

  <%# div with this data-X has to be there, for AJAX instant
      search to pull out the right part to update on pate %>
  <div data-instant-search="content" class="facet-browse-instant-search-content">

    <div class="facet_pagination top">
      <%= render :partial=>'facet_pagination' %>
    </div>
    
    <h3><%= facet_field_labels[params[:id]] %></h3>
    
    <%# parts of implementation copied form  render_facet_value and render_selected_facet_value, 
    we need to customize to do right with our browse normalized facet
    values. The original BL helper methods are convoluted, we just
    turn into a single partial %>

    <ul class="facet_extended_list">
      <% @pagination.items.each do |item| %>
        <li>
          <% if facet_in_params?( params[:id], item.value ) %>              
            <%# selected facet %>
            <%= content_tag(:span, :class => "selected label") do %>
                <%= BlacklightFacetBrowse::NormalForm.extract_original(item.value) %>
                <%= render_facet_count(item.hits) %>
            <% end %>
            <%= link_to(t('blacklight.search.facets.selected.remove'), remove_facet_params(params[:id], item.value, params), :class=>"remove") %>          
          <% else %>
            <%# not yet selected facet %>
            <%= link_to(BlacklightFacetBrowse::NormalForm.extract_original(item.value), add_facet_params_and_redirect(params[:id], BlacklightFacetBrowse::NormalForm.extract_original(item.value)), :class=>"facet_select label") %>
            <%= render_facet_count(item.hits) %>          
          <% end -%>
        </li>
      <% end %>
    </ul>
    
    <div class="facet_pagination bottom">
      <%= render :partial=>'facet_pagination' %>
    </div>
  </div>
</div>